.logo {
    font-family:var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--first-background-color);
}

.logo-accent {
    color:var(--primary-font-color);
}

